{% extends "home_page/header_footer.html" %}
{% load static %}
{% block content %}
{% for My_profile_home in My_profile_home_object %}	
	<div class="main-wrapper">
		
		<section class="about-me-section p-3 p-lg-5 theme-bg-light">
			<div class="container">
				<div class="profile-teaser media flex-column flex-lg-row">
					
					<div class="media-body">
						<h2 class="name font-weight-bold mb-1">{{ My_profile_home.full_name }}</h2>
						<div class="tagline mb-3">{{ My_profile_home.my_job_status }}</div>
						<div class="bio mb-4">{{ My_profile_home.mid_intro }} I write about software development on <a class="link-on-bg" href="{% url 'blog' %}">my blog</a>. Want to know how I may help your project? Check out my project <a class="link-on-bg" href="{% url 'portfolio' %}">portfolio</a> and <a class="link-on-bg" href="{% url 'resume' %}">online resume</a>.
						</div><!--//bio-->
						<div class="mb-4">
							<a class="btn btn-primary mr-2 mb-3" href="{% url 'portfolio' %}"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">View</span> Portfolio</a>
							<a class="btn btn-secondary mb-3" href="{% url 'resume' %}"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
						</div>
					</div><!--//media-body-->
					<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="{{ My_profile_home.side_profile_pic.url }}" alt="">
				</div>
			</div>
		</section><!--//about-me-section-->

		<section class="overview-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-3">What I do</h2>
				<div class="section-intro mb-5">{{ My_profile_home.what_i_do }} Want to find out more about my experience? Check out my <a href="{% url 'resume' %}">online resume</a> and <a href="{% url 'portfolio' %}">project portfolio</a>.</div>
				{% comment %}
					<div class="row">
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-js-square"></i></div>
								<h3 class="item-title">Vanilla JavaScript</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.</div>
							</div><!--//item-inner-->
						</div><!--//item-->
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-angular mr-2"></i><i class="fab fa-react mr-2"></i><i class="fab fa-vuejs"></i></div>
								<h3 class="item-title">Angular, React &amp;  Vue</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
						
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-node-js"></i></div>
								<h3 class="item-title">Node.js</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
						
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-python"></i></div>
								<h3 class="item-title">Python &amp; Django</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-php"></i></div>
								<h3 class="item-title">PHP</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-npm mr-2"></i><i class="fab fa-gulp mr-2"></i><i class="fab fa-grunt"></i></div>
								<h3 class="item-title">npm, Gulp &amp; Grunt</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
						<div class="item col-6 col-lg-3">
							<div class="item-inner">I am currently a software En
								<div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i></div>
								<h3 class="item-title">HTML &amp; CSS</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
						<div class="item col-6 col-lg-3">
							<div class="item-inner">
								<div class="item-icon"><i class="fab fa-sass mr-2"></i><i class="fab fa-less"></i></div>
								<h3 class="item-title">Sass &amp; LESS</h3>
								<div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
							</div><!--//item-inner-->
						</div><!--//item-->
					</div><!--//row-->
				{% endcomment %}
				{% comment %}
					<div class="text-center py-3"><a href="services.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>Services &amp; Pricing
						
					</a></div>
				{% endcomment %}
				
			</div><!--//container-->
		</section>
		{% endfor%}
		<div class="container"><hr></div>
				
		<section class="featured-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
				<div class="row">
					
					{% for My_portfolio in My_portfolio_object %}
					
					<div class="col-md-6 mb-5">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-4 card-img-holder">
									<img src="{{ My_portfolio.portfolio_image.url }}" class="card-img" alt="image">
								</div>
								<div class="col-lg-8">
									<div class="card-body">
										<h5 class="card-title"><a href="{{ My_portfolio.portfolio_medium_link }}" class="theme-link" target="_blank">{{ My_portfolio.portfolio_title }}</a></h5>
										<p class="card-text">{{ My_portfolio.portfolio_short_dis }}</p>
										<div class="meta mb-1"><span class="date">{{ My_portfolio.portfolio_publish_time }}</span><span class="time">{{ My_portfolio.portfolio_readtime }}</span></span></div>
									</div>
								</div>
							</div>
							
							<div class="link-mask">
								<a class="link-mask-link" href="{% url 'portfolio' %}"></a>
								<div class="link-mask-text" >
									<div class="row btn-group">
										<a href="{{ My_portfolio.portfolio_medium_link }}" target="_blank">
									  		<button type="button" class="btn btn-primary" style> <i class="fab fa-medium"></i> Medium</button>
									  	</a>
										  
									  	<a href="{{ My_portfolio.portfolio_git_link }}" target="_blank">
									  		<button type="button" class="btn btn-secondary"> <i class="fab fa-github-alt"></i> Github</button>
									  	</a>
										  	
										<a href="{{ My_portfolio.portfolio_live_link }}" target="_blank">
										<button type="button" class="btn btn-primary"> <i class="fas fa-laptop-code"></i> Live Project</button>
											
									  	</a>
									</div>
								</div>
							</div>

						</div><!--//card-->
					</div><!--//col  -->


					{% endfor %}					
			
				</div><!--//row-->
				<div class="text-center py-3"><a href="portfolio.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>
				
			</div><!--//container-->
		</section><!--//featured-section-->
		
		<div class="container"><hr></div>
		
		<section class="latest-blog-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-5">Latest Blog Posts</h2>
				<div class="row">
					{% for My_blog in My_blog_object %}


					<div class="col-md-4 mb-5">
						<div class="card blog-post-card">
							<img class="card-img-top" src="{{ My_blog.blog_image.url }}" alt="image">
							<div class="card-body">
								<h5 class="card-title"><a class="theme-link" href="{{ My_blog.blog_medium_link }}" target="_blank">{{ My_blog.blog_title }}</a></h5>
								<p class="card-text">{{ My_blog.blog_short_dis }}</p>
								<p class="mb-0"><a class="more-link" href="{{ My_blog.blog_medium_link }}" target="_blank">Read more &rarr;</a></p>
								
							</div>
							<div class="card-footer">
								<small class="text-muted">{{ My_blog.blog_publish_time }} &#8226;</small>
								<small  class="text-muted">{{ My_blog.blog_readtime }}</small>
							</div>
						</div><!--//card-->
					</div><!--//col -->


					{% endfor %}
					
				</div><!--//row-->
				<div class="text-center py-3"><a href="blog-home.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Blog</a></div>
			</div><!--//container-->
			
		</section><!--//latest-blog-section-->
<section class="github section latest-blog-section p-3 p-lg-5">
			<div class="container"><hr>
			<br>
			<h2 class="section-title font-weight-bold mb-5">My GitHub</h2>
			<p>My GitHub Contribution Graph <a href="https://github.com/beast001" target="_blank">Antony Brian</a> Git profile. 
                        
                    <div class="calendar">
    				<!-- Loading stuff -->
						Loading the data just for you.
					</div>
			</div>
        </section><!--//section-->

		<br>

		<section class="testimonials-section p-3 p-lg-5">
			<div class="container"><hr>
			<br>
				<h2 class="section-title font-weight-bold mb-5">Testimonials</h2>
				
				<div class="testiomonial-carousel-container">
					<div class="testimonial-carousel  tiny-slider">
	                    
						{% for test in test_list %}
						
						<div class="item">
							<div class="item-inner">
								<div class="quote-holder">
									<blockquote class="quote-content">
										{{ test.test_details }}
									</blockquote>
									<i class="fas fa-quote-left"></i>
								</div><!--//quote-holder-->
								<div class="source-holder">
									<div class="source-profile">
										<img src="{{ test.test_profile_pic.url }}" alt="image"/>
									</div>
									<div class="meta">
										<div class="name"><b>{{ test.test_name }}</b></div>
										<div class="info">{{ test.test_job_status }}</div>
									</div>
								</div>
							</div><!--//item-inner-->
						</div><!--//item-->

						{% endfor %}


					</div><!--//testimonial-carousel-->	
				</div><!--//testimonial-carousel-container-->	
			</div><!--//container-->
		</section><!--//testimonials-section-->
		<br>
		
		
	</div><!--//main-wrapper-->


{% endblock content %}
