{% extends "home_page/header_footer.html" %}
{% load static %}
{% block content %}
	
	<div class="main-wrapper">
		<section class="cta-section theme-bg-light py-5">
			<div class="container text-center single-col-max-width">
				<h2 class="heading mb-3">Online Resume</h2>
				<a class="btn btn-primary" href="https://docs.google.com/document/d/1pcDt1qgFlzIYlxNpmdEaGDpYOfxNeol6jVZAq73wXMM/export?format=pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a>
				
				
			</div><!--//container-->
		</section>
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase">Antony Brian Nyaoke</h2>
							<div class="resume-tagline mb-3 mb-md-0">Senior Software & Data Engineer</div>
						</div><!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link" href="tel:#">+2547 5819 170</a></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="resume-link" href="mailto:#">briyoantony@gmail.com</a></li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link" href="#">@africandatascientist/</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Kenya</li>
							</ul>
						</div><!--//resume-contact-->
					</div><!--//row-->
					
				</div><!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="media flex-column flex-md-row align-items-center">
						<img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{% static 'images/profile.jpg' %}" alt="image">
						<div class="media-body text-left">
							<p class="mb-0"> I am a Software and Data engineer with a strong background in data analytics, customer support, and
								experience delivering data-driven solutions. I am Proficient in Python, PHP, and SQL and have experience
								with various data science and machine learning libraries such as TensorFlow, Keras, and sci-kit-learn. I am
								proficient in Agile methodologies, Git, and Linux and have over six years of industry experience in
								customer support and software development. Collaboration and the ability to work well in a team
								environment are one of my best experiences working with systems such as slack and zoom, but also able
								to deliver independently.</p>
						</div><!--//media-body-->
					</div>
				</div><!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Engineer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Andela | 2021 - Present</div>
										
									</div>
									<div class="item-content">
										<p>Andela is a global talent outsourcing company that connects top Engineer woldwide to work for variouse comapnies worldwide. I am one of the Engineers outsoured for handling sofatware and data roles. I have achieved the below objectives:-</p>
										<ul class="resume-list">
											<li>Provide mentorship and support to new Andela Employees to make them 100% ready
												for the client engagements contracts they are about to start and orient them to the internal company culture.
											</li>
											<li>Perform internal tests on new software infrastructures about to be deployed and accessed by more than 4000 people daily.</li>
											<li>I also function as a writer on tech topics hosted in the Andela blog, which has attracted
												11k interactions within a year of starting my blog journey.
											</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Data Analyst</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Indeed | 2021 - 2023</div>
										
									</div>
									<div class="item-content">
										<p> I worked for Indeed a United States based Job advertisment platform in a fully remote engagements for a duration of 1 year 8 months.
											I was responsible for development of data pipelines, data virtualisations and developmentent of recommendation systems.
											During my time at indeed I achieved the following:-
										</p>
										<ul class="resume-list">
											<li>Provided support to the sales team and handled customer queries.</li>
											<li>I analyzed and retrieved data working with a remote team of 17 members through slack
												and Jira for collaboration.</li>
											<li>Gained experience working with PowerBI, and salesforce together with building
												custom-based recommendation systems, improved our client retention rate by 40%
												boosting revenue from subscription renewals.</li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Software Developer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Judiciary | 2020 - 2021</div>
										
									</div>
									<div class="item-content">
										<p>Having qualified for the Presidential Digital Talent Program I had the oportunity of joining the Judiciary Under the Ministry of ICT as a software developer and ICT Support to help digitize variouse sectors of the Judiciary.</p>
										<ul class="resume-list">
											<li>Was part of the team deployed to the Judiciary by the Ministry of ICT to help automate
												services during the covid pandemic, ensuring easy and efficient access to justice and
												helping minimize physical contact by 90%.</li>
											<li>I developed the Case Tracking and E-filing systems that reduced paperwork by 80% and
												improved court fee collection transparency.</li>

											<li>Collected internal and external user feedback to help the development team improve
												various models on the system.</li>
											</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Lead Software Engineer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">FITTIE | 2019 - 2020</div>
										
									</div>
									<div class="item-content">
										<p>With the increase in online shopping worldwide and the covid pandemic, We decided to develop an online store that would make it easy and affordable for customer to shop and order for products easily and convinently online. </p>
										<ul class="resume-list">
											<li>Led a team of 12 engineers to develop one of the best e-commerce websites in Kenya</li>
											<li>Developed and deployes an Laravel e-commerce website </li>
										</ul>
									</div>
								</div><!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">ICT TECHNICIAN INTERN</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">KENYA REVENUE AUTHORITY | 2017 - 2017</div>
										
									</div>
									<div class="item-content">
										<p>Did my internship at KRA ICT user support department for a period of 5 months.</p>
									<ul class="resume-list">
											<li>I handled IT user support and system maintenance in all 7 departments.</li>
											<li>Helped the marketing team learn and understand the new ITAX system and contributed
												to documenting the user manual to help clients understand and interact with the system
												efficiently, which increased the acceptance rate from initially 30% to 80%.</li>
										</ul>
									</div>
								</div><!--//item-->
																
							</section><!--//work-section-->

							
							<section class="project-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Safaricom Tweet Analyzer</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
										
									</div>
									<div class="item-content">
										<p><a href="https://beast001-tweetclassifier-dashboard-r3ooki.streamlit.app/" class="theme-link"> Safaricom Tweet Analyzer</a> is a Machine learning NLP Classification and Data Analysis 
											project that helps the Safaricom customer service department categorize user tweets into different 
											departments to enable faster and more efficient responses form the right department.</p>
										
										
									</div>
								
						
							</section><!--//project-section-->	
						</div><!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
								<div class="item">
									<h4 class="item-title">Technical</h4>
									<ul class="list-unstyled resume-skills-list">
										<li class="mb-2">Python/Pandas/Numpy/Pyspark</li>
										<li class="mb-2">PHP/Laravel/CodeIgniter<li>
											<li class="mb-2">Django/Flask</li>
											<li class="mb-2">PostgreSQL/MySQL/SQlite</li>
											<li class="mb-2">AWS/Azure</li>
											<li class="mb-2">Snowflex/DBT</li>
											<li class="mb-2">MongoDb/Firebase</li>
											<li>Lead and deliver complex software systems</li>
										</ul>
									</div><!--//item-->
									<div class="item">
										<h4 class="item-title">Professional</h4>
										<ul class="list-unstyled resume-skills-list">
											<li class="mb-2">Effective communication</li>
											<li class="mb-2">Team player<li>
												<li class="mb-2">Strong problem solver</li>
												<li>Good time management</li>
											</ul>
										</div><!--//item-->
									</section><!--//skills-section-->
									<section class="education-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
										<ul class="list-unstyled resume-education-list">
											<li class="mb-3">
												<div class="resume-degree font-weight-bold">Data Science</div>
												<div class="resume-degree-org text-muted">Moringa School</div>
												<div class="resume-degree-time text-muted">2022 - 2023</div>
											</li>
											<li>
												<div class="resume-degree font-weight-bold">BSc Computer Technology</div>
												<div class="resume-degree-org text-muted">Wordquant UUniversity</div>
												<div class="resume-degree-time text-muted">2018 - 2019</div>
											</li>
											<li>
												<div class="resume-degree font-weight-bold">BSc Computer Technology</div>
												<div class="resume-degree-org text-muted">Meru University of Science & Technology</div>
												<div class="resume-degree-time text-muted">2014 - 2019</div>
											</li>
										</ul>
									</section><!--//education-section-->
									<section class="education-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
										<ul class="list-unstyled resume-awards-list">
											<li class="mb-3">
												<div class="font-weight-bold">Artificial Inteligence</div>
												<div class="text-muted">Huawai AI(HCIA) (2019)</div>
											</li>
											<li>
												<div class="font-weight-bold">Data Scinec Award</div>
												<div class="text-muted">Moringa (2023)</div>
											</li>
										</ul>
									</section><!--//education-section-->
									<section class="skills-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
										<ul class="list-unstyled resume-lang-list">
											<li class="mb-2">English <span class="text-muted">(Professional)</span></li>
											<li>Swahili <span class="text-muted">(Native)</span></li>
										</ul>
									</section><!--//certificates-section-->
									<section class="skills-section py-3">
										<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
										<ul class="list-unstyled resume-interests-list mb-0">
											<li class="mb-2">Rugby</li>
											<li class="mb-2">Coding</li>
											<li class="mb-2">Movies</li>
											<li>Travelling</li>
										</ul>
									</section><!--//certificates-section-->
									
								</aside><!--//resume-aside-->
							</div><!--//row-->
						</div><!--//resume-body-->
						<hr>
						<div class="resume-footer text-center">
							<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
								<li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="#"><i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">github.com/beast001</span></a></li>
								<li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="#"><i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">linkedin.com/in/africandatascientist/</span></a></li>
								<li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link" href="#"><i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">@africanData_dev</span></a></li>
							</ul>
						</div><!--//resume-footer-->
					</article>
					
				</div><!--//container-->
				
			
				
			</div><!--//main-wrapper-->

{% endblock content %}

